<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %><br/>
        <%= @user.name %> 
    </h1>
    <h6>
        Email: <%= @user.email %> <br/>
        URL: users/<%= @user.id %>
      </h6>
    </section>
    <section>
      <table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <% unless @user.microposts.empty? %>
        <table class="microposts" summary="User microposts">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Microposts</strong> <%= @user.microposts.count %>
    </td>
  </tr>
</table>
</section>
  </aside>
</div>